@model Licenta.Models.Poll

@{
    ViewBag.Title = "Confirm poll stop";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmation</h3>

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Are you sure that you want to stop this poll?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>
                    Once you stop the poll, it can no longer receive answers. <br /><br />

                    After confirming the stop, you will be provided a link where you can visualize the results. <br />
                    The link can be accesed anytime from the preview page of the poll.
                </h5>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @using (Html.BeginForm("Stop", "Poll", new { id = Model.PollId }, FormMethod.Post, null))
                {
                    <button type="submit" class="btn btn-block btn-success">I am sure, stop the poll</button>
                }
            </div>
            <div class="col-md-5 col-md-offset-4">
                @Html.ActionLink("I've changed my mind, take me back to the poll preview", "Show", "Poll", new { id = Model.PollId }, new { @class = "btn btn-block btn-info" })
            </div>
        </div>
    </div>
</div>

