@model Licenta.Models.Poll

@{
    ViewBag.Title = "FinishStart";
}

<hr />

<div class="jumbotron pb-3">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="mb-0">Poll successfully stopped</h1>
                </div>
                <div class="col-12">
                    <h4 class="col-12 p-0">You are now able to see the final results.</h4>
                </div>

                <div class="col-12 col-lg-9">
                    <a href="/Poll/Results/@Model.PollId" class="btn btn-block btn-primary btn-lg"><h4 class="mb-0 text-white d-inline mr-3">See results</h4><i class="fas fa-poll bg-primary" style="font-size: 1.6rem;"></i></a>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <i class="fas fa-clipboard-check" style="font-size: 15rem;"></i>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            @Html.ActionLink("Return to home page", "Index", "Home", null, new { @class = "btn btn-block btn-lg btn-warning" })
        </div>
        <div class="col-6">
            @Html.ActionLink("Return to poll preview", "Show", "Poll", new { id = Model.PollId }, new { @class = "btn btn-block btn-lg btn-info" })
        </div>
    </div>
</div>

